/.cproject
/.csettings
/.externalToolBuilders
/.project
/.settings
/compile
/debug
/icc
/iccdebug
/iccrel
/nomkl
/openmp
/profile
/release
share/doc/developer/DoxygenConfig/doxy-config
share/doc/developer/DoxygenConfig/footer.html
share/doc/developer/develManual/*.aux
share/doc/developer/develManual/*.bbl
share/doc/developer/develManual/*.blg
share/doc/developer/develManual/*.log
share/doc/developer/develManual/*.out
share/doc/developer/develManual/*.tdo
share/doc/developer/develManual/*.toc
share/doc/developer/develManual/*.tpt
share/doc/developer/develManual/attachments
share/doc/developer/develManual/develManual.pdf
share/doc/developer/develManual/pygmentized
share/doc/developer/html
share/doc/developer/makedoc.sh
share/doc/user/makedoc.sh
share/scripts/IdentifyFortranCompiler.s
/valgrind
