/.cproject
/.csettings
/.project
/.settings
/CTestConfig.cmake
/compile
/debug
/icc
/iccdebug
/iccrel
/nomkl
/openmp
/profile
/release
share/doc/developer/DoxygenConfig/doxy-config
share/doc/developer/DoxygenConfig/footer.html
share/doc/developer/makedoc.sh
share/doc/user/makedoc.sh
share/scripts/IdentifyFortranCompiler.s
/valgrind
rel*
streamviz_memlog*
__pycache__/
