* text=auto !eol
Doc/DoxygenConfig/doxy-config -text
Doc/DoxygenConfig/doxygen_manual.pdf -text svneol=unset#application/pdf
Doc/DoxygenConfig/footer.html svneol=native#text/html
Doc/DoxygenConfig/header.html svneol=native#text/html
Doc/auxilliaries/LaTeX/lsepaper.sty -text
Doc/auxilliaries/Pics/lse.eps -text svneol=unset#application/postscript
Doc/auxilliaries/Pics/lse.png -text svneol=unset#image/png
Doc/makedoc.sh svneol=native#text/plain
Doc/xmlFile/BCsLoads.tex svneol=native#text/plain
Doc/xmlFile/Savings.tex svneol=native#text/plain
Doc/xmlFile/basicCommands.tex svneol=native#text/plain
Doc/xmlFile/coupledfields.tex svneol=native#text/plain
Doc/xmlFile/general.tex svneol=native#text/plain
Doc/xmlFile/mycommands.tex svneol=native#text/plain
Doc/xmlFile/singlefields.tex svneol=native#text/plain
Doc/xmlFile/solverParams.tex svneol=native#text/plain
Doc/xmlFile/special.tex svneol=native#text/plain
Doc/xmlFile/xmlReference.tex svneol=native#text/plain
Doc/xmlFile/xmlcover.tex svneol=native#text/plain
Doc/xmlFile/xmlintro.tex svneol=native#text/plain
XML/CFS.xsd -text
XML/Defaults/CFS++Defaults.xml svneol=native#text/xml
XML/Docs/XMLParams.tex svneol=native#text/plain
XML/Examples/bubble.xml svneol=native#text/xml
XML/Examples/plate1.xml svneol=native#text/xml
XML/Schemas/CFS_Analysis.xsd -text
XML/Schemas/CFS_Coupling.xsd -text
XML/Schemas/CFS_Domain.xsd -text
XML/Schemas/CFS_IntegRules.xsd -text
XML/Schemas/CFS_LinearSystem.xsd -text
XML/Schemas/CFS_Misc.xsd -text
XML/Schemas/CFS_MpCCI.xsd -text
XML/Schemas/CFS_PDEacoustic.xsd -text
XML/Schemas/CFS_PDEbasic.xsd -text
XML/Schemas/CFS_PDEelectrostatic.xsd -text
XML/Schemas/CFS_PDEmagnetic.xsd -text
XML/Schemas/CFS_PDEmechanic.xsd -text
XML/Schemas/CFS_PDEmpcci.xsd -text
XML/Schemas/CFS_PDEpiezo.xsd -text
XML/Schemas/CFS_PDEsmooth.xsd -text
XML/Schemas/CFS_Preconds.xsd -text
XML/Schemas/CFS_SolverPrecond.xsd -text
XML/Schemas/CFS_Solvers.xsd -text
XML/Schemas/OLAS.xsd -text
XML/TestParser/Doc/doxy.conf -text
XML/TestParser/ErrorHandler.hh svneol=native#text/plain
XML/TestParser/Makefile -text
XML/TestParser/SPHandler.cc svneol=native#text/plain
XML/TestParser/SPHandler.hh svneol=native#text/plain
XML/TestParser/TestParser.cc svneol=native#text/plain
XML/Tools/SchemaViewer2.zip -text svneol=unset#application/zip
auxiliary/mysql/dump_data.csh svneol=native#text/plain
auxiliary/mysql/dump_db.csh svneol=native#text/plain
auxiliary/mysql/empty_tables.csh svneol=native#text/plain
auxiliary/mysql/empty_tables.sql -text
auxiliary/mysql/getcoordinates.sql -text
auxiliary/mysql/getdata.csh svneol=native#text/plain
auxiliary/mysql/getelementresult.sql -text
auxiliary/mysql/getelements.sql -text
auxiliary/mysql/getnodalresult.sql -text
auxiliary/mysql/getresultidx.sql -text
/libgoal -text
libsrc/AlgebraicSystem/README -text
libsrc/CoupledPDE/Makefile -text
libsrc/CoupledPDE/basecoupledpde.cc svneol=native#text/plain
libsrc/CoupledPDE/basecoupledpde.hh svneol=native#text/plain
libsrc/CoupledPDE/coupledPDE.conf -text
libsrc/CoupledPDE/coupled_pdes_header.hh svneol=native#text/plain
libsrc/CoupledPDE/coupledpdedef.cc svneol=native#text/plain
libsrc/CoupledPDE/coupledpdedef.hh svneol=native#text/plain
libsrc/CoupledPDE/couplingmemento.cc svneol=native#text/plain
libsrc/CoupledPDE/couplingmemento.hh svneol=native#text/plain
libsrc/CoupledPDE/itercoupledpde.cc svneol=native#text/plain
libsrc/CoupledPDE/itercoupledpde.hh svneol=native#text/plain
libsrc/CoupledPDE/pdecoupling.cc svneol=native#text/plain
libsrc/CoupledPDE/pdecoupling.hh svneol=native#text/plain
libsrc/DataInOut/AnsysFile/Makefile -text
libsrc/DataInOut/AnsysFile/ansysfile.cc svneol=native#text/plain
libsrc/DataInOut/AnsysFile/ansysfile.hh svneol=native#text/plain
libsrc/DataInOut/AnsysOut/Makefile -text
libsrc/DataInOut/AnsysOut/outAnsys.cc svneol=native#text/plain
libsrc/DataInOut/AnsysOut/outAnsys.hh svneol=native#text/plain
libsrc/DataInOut/Database/Makefile -text
libsrc/DataInOut/Database/cfs_material.sql -text
libsrc/DataInOut/Database/cfs_material_data.sql -text
libsrc/DataInOut/Database/cfs_user.sql -text
libsrc/DataInOut/Database/database.cc svneol=native#text/plain
libsrc/DataInOut/Database/database.hh svneol=native#text/plain
libsrc/DataInOut/Database/dbColumn.cc svneol=native#text/plain
libsrc/DataInOut/Database/dbColumn.hh svneol=native#text/plain
libsrc/DataInOut/Database/dbDoubleColumn.cc svneol=native#text/plain
libsrc/DataInOut/Database/dbDoubleColumn.hh svneol=native#text/plain
libsrc/DataInOut/Database/dbIntColumn.cc svneol=native#text/plain
libsrc/DataInOut/Database/dbIntColumn.hh svneol=native#text/plain
libsrc/DataInOut/Database/dbLineData.cc svneol=native#text/plain
libsrc/DataInOut/Database/dbLineData.hh svneol=native#text/plain
libsrc/DataInOut/Database/dbMatrix.cc svneol=native#text/plain
libsrc/DataInOut/Database/dbMatrix.hh svneol=native#text/plain
libsrc/DataInOut/Database/dbStringColumn.cc svneol=native#text/plain
libsrc/DataInOut/Database/dbStringColumn.hh svneol=native#text/plain
libsrc/DataInOut/Database/outDB.cc svneol=native#text/plain
libsrc/DataInOut/Database/outDB.hh svneol=native#text/plain
libsrc/DataInOut/DefineFiles/Makefile -text
libsrc/DataInOut/DefineFiles/definefiles.cc svneol=native#text/plain
libsrc/DataInOut/DefineFiles/definefiles.hh svneol=native#text/plain
libsrc/DataInOut/GMV/Makefile -text
libsrc/DataInOut/GMV/outGMV.cc svneol=native#text/plain
libsrc/DataInOut/GMV/outGMV.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIBaseIO.cc svneol=native#text/plain
libsrc/DataInOut/GSI/GSIBaseIO.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIClientSocket.cc svneol=native#text/plain
libsrc/DataInOut/GSI/GSIClientSocket.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIException.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIIOException.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIRawIO.cc svneol=native#text/plain
libsrc/DataInOut/GSI/GSIRawIO.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIServerSocket.cc svneol=native#text/plain
libsrc/DataInOut/GSI/GSIServerSocket.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSISocket.cc svneol=native#text/plain
libsrc/DataInOut/GSI/GSISocket.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSISocketException.hh svneol=native#text/plain
libsrc/DataInOut/GSI/GSIXDRIO.cc svneol=native#text/plain
libsrc/DataInOut/GSI/GSIXDRIO.hh svneol=native#text/plain
libsrc/DataInOut/GSI/Makefile -text
libsrc/DataInOut/GSI/outGSI.cc svneol=native#text/plain
libsrc/DataInOut/GSI/outGSI.hh svneol=native#text/plain
libsrc/DataInOut/LoadMaterialData.cc svneol=native#text/plain
libsrc/DataInOut/LoadMaterialData.hh svneol=native#text/plain
libsrc/DataInOut/LoadMaterialDataDatabase.cc svneol=native#text/plain
libsrc/DataInOut/LoadMaterialDataDatabase.hh svneol=native#text/plain
libsrc/DataInOut/LoadMaterialDataFile.cc svneol=native#text/plain
libsrc/DataInOut/LoadMaterialDataFile.hh svneol=native#text/plain
libsrc/DataInOut/Makefile -text
libsrc/DataInOut/MaterialData.cc svneol=native#text/plain
libsrc/DataInOut/MaterialData.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/BaseParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/CFSOLASParams.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/CFSOLASParams.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/ConfFile.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/ConfFile.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/Makefile -text
libsrc/DataInOut/ParamHandling/PlainXMLParamHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/PlainXMLParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/SkeletonConf.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParamHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParserErrorHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParserErrorHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLSkeletonConf.cc svneol=native#text/plain
libsrc/DataInOut/Unverg/Makefile -text
libsrc/DataInOut/Unverg/outUnverg.cc svneol=native#text/plain
libsrc/DataInOut/Unverg/outUnverg.hh svneol=native#text/plain
libsrc/DataInOut/WriteInfo.cc svneol=native#text/plain
libsrc/DataInOut/WriteInfo.hh svneol=native#text/plain
libsrc/DataInOut/filetype.cc svneol=native#text/plain
libsrc/DataInOut/filetype.hh svneol=native#text/plain
libsrc/DataInOut/timefunc.cc svneol=native#text/plain
libsrc/DataInOut/timefunc.hh svneol=native#text/plain
libsrc/DataInOut/writeresults.cc svneol=native#text/plain
libsrc/DataInOut/writeresults.hh svneol=native#text/plain
libsrc/Domain/AdaptGrid/Makefile -text
libsrc/Domain/AdaptGrid/interface_adgrid.cc svneol=native#text/plain
libsrc/Domain/AdaptGrid/interface_adgrid.hh svneol=native#text/plain
libsrc/Domain/GridCFS/Makefile -text
libsrc/Domain/GridCFS/grid_cfs.cc svneol=native#text/plain
libsrc/Domain/GridCFS/grid_cfs.hh svneol=native#text/plain
libsrc/Domain/GridCFS/interface_gridcfs.hh svneol=native#text/plain
libsrc/Domain/Gridlib/Makefile -text
libsrc/Domain/Gridlib/interface_gridlib.cc svneol=native#text/plain
libsrc/Domain/Gridlib/interface_gridlib.hh svneol=native#text/plain
libsrc/Domain/Makefile -text
libsrc/Domain/NetGen/Makefile -text
libsrc/Domain/NetGen/interface_netgen.cc svneol=native#text/plain
libsrc/Domain/NetGen/interface_netgen.hh svneol=native#text/plain
libsrc/Domain/NetGen/nginterface.h svneol=native#text/plain
libsrc/Domain/bcs.cc svneol=native#text/plain
libsrc/Domain/bcs.hh svneol=native#text/plain
libsrc/Domain/domain.cc svneol=native#text/plain
libsrc/Domain/domain.hh svneol=native#text/plain
libsrc/Domain/elem.hh svneol=native#text/plain
libsrc/Domain/grid.cc svneol=native#text/plain
libsrc/Domain/grid.hh svneol=native#text/plain
libsrc/Driver/Makefile -text
libsrc/Driver/assemble.cc svneol=native#text/plain
libsrc/Driver/assemble.hh svneol=native#text/plain
libsrc/Driver/baseSolveStep.cc svneol=native#text/plain
libsrc/Driver/baseSolveStep.hh svneol=native#text/plain
libsrc/Driver/basedriver.cc svneol=native#text/plain
libsrc/Driver/basedriver.hh svneol=native#text/plain
libsrc/Driver/bubbledriver.cc svneol=native#text/plain
libsrc/Driver/bubbledriver.hh svneol=native#text/plain
libsrc/Driver/driver_header.hh svneol=native#text/plain
libsrc/Driver/harmonicAdapt.cc svneol=native#text/plain
libsrc/Driver/harmonicAdapt.hh svneol=native#text/plain
libsrc/Driver/harmonicDriver.cc svneol=native#text/plain
libsrc/Driver/harmonicDriver.hh svneol=native#text/plain
libsrc/Driver/multiHarmonicDriver.cc svneol=native#text/plain
libsrc/Driver/multiHarmonicDriver.hh svneol=native#text/plain
libsrc/Driver/multiSequenceDriver.cc svneol=native#text/plain
libsrc/Driver/multiSequenceDriver.hh svneol=native#text/plain
libsrc/Driver/singleDriver.cc svneol=native#text/plain
libsrc/Driver/singleDriver.hh svneol=native#text/plain
libsrc/Driver/solveStepAcouFlowNoise.cc svneol=native#text/plain
libsrc/Driver/solveStepAcouFlowNoise.hh svneol=native#text/plain
libsrc/Driver/solveStepAcoustic.cc svneol=native#text/plain
libsrc/Driver/solveStepAcoustic.hh svneol=native#text/plain
libsrc/Driver/solveStepElec.cc svneol=native#text/plain
libsrc/Driver/solveStepElec.hh svneol=native#text/plain
libsrc/Driver/solveStepMag.cc svneol=native#text/plain
libsrc/Driver/solveStepMag.hh svneol=native#text/plain
libsrc/Driver/solveStepMech.cc svneol=native#text/plain
libsrc/Driver/solveStepMech.hh svneol=native#text/plain
libsrc/Driver/solveStepMpCCI.cc svneol=native#text/plain
libsrc/Driver/solveStepMpCCI.hh svneol=native#text/plain
libsrc/Driver/solveStepPiezo.cc svneol=native#text/plain
libsrc/Driver/solveStepPiezo.hh svneol=native#text/plain
libsrc/Driver/solveStepSmooth.cc svneol=native#text/plain
libsrc/Driver/solveStepSmooth.hh svneol=native#text/plain
libsrc/Driver/staticAdaptSpaceDriver.cc svneol=native#text/plain
libsrc/Driver/staticAdaptSpaceDriver.hh svneol=native#text/plain
libsrc/Driver/staticdriver.cc svneol=native#text/plain
libsrc/Driver/staticdriver.hh svneol=native#text/plain
libsrc/Driver/transientAdaptSpaceDriver.cc svneol=native#text/plain
libsrc/Driver/transientAdaptSpaceDriver.hh svneol=native#text/plain
libsrc/Driver/transientdriver.cc svneol=native#text/plain
libsrc/Driver/transientdriver.hh svneol=native#text/plain
libsrc/Elements/1D/Makefile -text
libsrc/Elements/1D/line1fe.cc svneol=native#text/plain
libsrc/Elements/1D/line1fe.hh svneol=native#text/plain
libsrc/Elements/1D/line2fe.cc svneol=native#text/plain
libsrc/Elements/1D/line2fe.hh svneol=native#text/plain
libsrc/Elements/1D/linefe.cc svneol=native#text/plain
libsrc/Elements/1D/linefe.hh svneol=native#text/plain
libsrc/Elements/2D/Makefile -text
libsrc/Elements/2D/quad1fe.cc svneol=native#text/plain
libsrc/Elements/2D/quad1fe.hh svneol=native#text/plain
libsrc/Elements/2D/quad2fe.cc svneol=native#text/plain
libsrc/Elements/2D/quad2fe.hh svneol=native#text/plain
libsrc/Elements/2D/rectanglefe.cc svneol=native#text/plain
libsrc/Elements/2D/rectanglefe.hh svneol=native#text/plain
libsrc/Elements/2D/triangle1fe.cc svneol=native#text/plain
libsrc/Elements/2D/triangle1fe.hh svneol=native#text/plain
libsrc/Elements/2D/triangle2fe.cc svneol=native#text/plain
libsrc/Elements/2D/triangle2fe.hh svneol=native#text/plain
libsrc/Elements/2D/trianglefe.cc svneol=native#text/plain
libsrc/Elements/2D/trianglefe.hh svneol=native#text/plain
libsrc/Elements/3D/Makefile -text
libsrc/Elements/3D/hexa1FE.cc svneol=native#text/plain
libsrc/Elements/3D/hexa1FE.hh svneol=native#text/plain
libsrc/Elements/3D/hexa2FE.cc svneol=native#text/plain
libsrc/Elements/3D/hexa2FE.hh svneol=native#text/plain
libsrc/Elements/3D/hexaFE.cc svneol=native#text/plain
libsrc/Elements/3D/hexaFE.hh svneol=native#text/plain
libsrc/Elements/3D/pyra1FE.cc svneol=native#text/plain
libsrc/Elements/3D/pyra1FE.hh svneol=native#text/plain
libsrc/Elements/3D/pyraFE.cc svneol=native#text/plain
libsrc/Elements/3D/pyraFE.hh svneol=native#text/plain
libsrc/Elements/3D/tetra1FE.cc svneol=native#text/plain
libsrc/Elements/3D/tetra1FE.hh svneol=native#text/plain
libsrc/Elements/3D/tetraFE.cc svneol=native#text/plain
libsrc/Elements/3D/tetraFE.hh svneol=native#text/plain
libsrc/Elements/3D/wedge1FE.cc svneol=native#text/plain
libsrc/Elements/3D/wedge1FE.hh svneol=native#text/plain
libsrc/Elements/3D/wedge2FE.cc svneol=native#text/plain
libsrc/Elements/3D/wedge2FE.hh svneol=native#text/plain
libsrc/Elements/3D/wedgeFE.cc svneol=native#text/plain
libsrc/Elements/3D/wedgeFE.hh svneol=native#text/plain
libsrc/Elements/Makefile -text
libsrc/Elements/basefe.cc svneol=native#text/plain
libsrc/Elements/basefe.hh svneol=native#text/plain
libsrc/Elements/elements_header.hh svneol=native#text/plain
libsrc/Elements/jacobian.cc svneol=native#text/plain
libsrc/Elements/jacobian.hh svneol=native#text/plain
libsrc/Estimator/Makefile -text
libsrc/Estimator/spaceerror.cc svneol=native#text/plain
libsrc/Estimator/spaceerror.hh svneol=native#text/plain
libsrc/Forms/Makefile -text
libsrc/Forms/baseForm.cc svneol=native#text/plain
libsrc/Forms/baseForm.hh svneol=native#text/plain
libsrc/Forms/baseoperator.cc svneol=native#text/plain
libsrc/Forms/baseoperator.hh svneol=native#text/plain
libsrc/Forms/bdbInt.cc svneol=native#text/plain
libsrc/Forms/bdbInt.hh svneol=native#text/plain
libsrc/Forms/curlCurlEdgeInt.cc svneol=native#text/plain
libsrc/Forms/curlCurlEdgeInt.hh svneol=native#text/plain
libsrc/Forms/curlCurlNodeInt.cc svneol=native#text/plain
libsrc/Forms/curlCurlNodeInt.hh svneol=native#text/plain
libsrc/Forms/curlfieldop.cc svneol=native#text/plain
libsrc/Forms/curlfieldop.hh svneol=native#text/plain
libsrc/Forms/elecchargeop.cc svneol=native#text/plain
libsrc/Forms/elecchargeop.hh svneol=native#text/plain
libsrc/Forms/elecforceop.cc svneol=native#text/plain
libsrc/Forms/elecforceop.hh svneol=native#text/plain
libsrc/Forms/forms_header.hh svneol=native#text/plain
libsrc/Forms/gradfieldop.cc svneol=native#text/plain
libsrc/Forms/gradfieldop.hh svneol=native#text/plain
libsrc/Forms/laplaceInt.cc svneol=native#text/plain
libsrc/Forms/laplaceInt.hh svneol=native#text/plain
libsrc/Forms/linElastInt.cc svneol=native#text/plain
libsrc/Forms/linElastInt.hh svneol=native#text/plain
libsrc/Forms/linPiezoInt.cc svneol=native#text/plain
libsrc/Forms/linPiezoInt.hh svneol=native#text/plain
libsrc/Forms/linearForm.cc svneol=native#text/plain
libsrc/Forms/linearForm.hh svneol=native#text/plain
libsrc/Forms/magforceop.cc svneol=native#text/plain
libsrc/Forms/magforceop.hh svneol=native#text/plain
libsrc/Forms/massEdgeInt.cc svneol=native#text/plain
libsrc/Forms/massEdgeInt.hh svneol=native#text/plain
libsrc/Forms/massInt.cc svneol=native#text/plain
libsrc/Forms/massInt.hh svneol=native#text/plain
libsrc/Forms/mechStressStrain.cc svneol=native#text/plain
libsrc/Forms/mechStressStrain.hh svneol=native#text/plain
libsrc/Forms/nLinElastInt.cc svneol=native#text/plain
libsrc/Forms/nLinElastInt.hh svneol=native#text/plain
libsrc/Forms/nLincurlCurlNodeInt.cc svneol=native#text/plain
libsrc/Forms/nLincurlCurlNodeInt.hh svneol=native#text/plain
libsrc/Forms/smoothInt.cc svneol=native#text/plain
libsrc/Forms/smoothInt.hh svneol=native#text/plain
libsrc/General/Makefile -text
libsrc/General/defs.hh svneol=native#text/plain
libsrc/General/environment.cc svneol=native#text/plain
libsrc/General/environment.hh svneol=native#text/plain
libsrc/Makefile -text
libsrc/Matrix/Makefile -text
libsrc/Matrix/cfsmatrix.hh svneol=native#text/plain
libsrc/Matrix/matrix.cc svneol=native#text/plain
libsrc/Matrix/matrix.hh svneol=native#text/plain
libsrc/Matrix/matrix_header.hh svneol=native#text/plain
libsrc/MpCCIcpl/Makefile -text
libsrc/MpCCIcpl/MpCCIexch.cc svneol=native#text/plain
libsrc/MpCCIcpl/MpCCIexch.hh svneol=native#text/plain
libsrc/ODEDescr/BaseODEProblem.hh svneol=native#text/plain
libsrc/ODEDescr/BubbleODE.hh svneol=native#text/plain
libsrc/ODEDescr/Gilmore.cc svneol=native#text/plain
libsrc/ODEDescr/Gilmore.hh svneol=native#text/plain
libsrc/ODEDescr/KellerMiksis.cc svneol=native#text/plain
libsrc/ODEDescr/KellerMiksis.hh svneol=native#text/plain
libsrc/ODEDescr/Makefile -text
libsrc/ODESolve/BaseODESolver.hh svneol=native#text/plain
libsrc/ODESolve/Makefile -text
libsrc/ODESolve/ODESolver_ExplEuler.cc svneol=native#text/plain
libsrc/ODESolve/ODESolver_ExplEuler.hh svneol=native#text/plain
libsrc/ODESolve/ODESolver_RKF45.cc svneol=native#text/plain
libsrc/ODESolve/ODESolver_RKF45.hh svneol=native#text/plain
libsrc/PDE/Makefile -text
libsrc/PDE/SinglePDE.cc svneol=native#text/plain
libsrc/PDE/SinglePDE.hh svneol=native#text/plain
libsrc/PDE/StdPDE.cc svneol=native#text/plain
libsrc/PDE/StdPDE.hh svneol=native#text/plain
libsrc/PDE/acouFlowNoise.cc svneol=native#text/plain
libsrc/PDE/acouFlowNoise.hh svneol=native#text/plain
libsrc/PDE/acousticPDE.cc svneol=native#text/plain
libsrc/PDE/acousticPDE.hh svneol=native#text/plain
libsrc/PDE/baseEQN.cc svneol=native#text/plain
libsrc/PDE/baseEQN.hh svneol=native#text/plain
libsrc/PDE/basePDE.cc svneol=native#text/plain
libsrc/PDE/basePDE.hh svneol=native#text/plain
libsrc/PDE/blocknodeEQN.cc svneol=native#text/plain
libsrc/PDE/blocknodeEQN.hh svneol=native#text/plain
libsrc/PDE/elecPDE.cc svneol=native#text/plain
libsrc/PDE/elecPDE.hh svneol=native#text/plain
libsrc/PDE/magEdgePDE.cc svneol=native#text/plain
libsrc/PDE/magEdgePDE.hh svneol=native#text/plain
libsrc/PDE/magneticPDE.cc svneol=native#text/plain
libsrc/PDE/magneticPDE.hh svneol=native#text/plain
libsrc/PDE/mechPDE.cc svneol=native#text/plain
libsrc/PDE/mechPDE.hh svneol=native#text/plain
libsrc/PDE/mpcciPDE.cc svneol=native#text/plain
libsrc/PDE/mpcciPDE.hh svneol=native#text/plain
libsrc/PDE/newmark.cc svneol=native#text/plain
libsrc/PDE/newmark.hh svneol=native#text/plain
libsrc/PDE/newmarkFracDamp.cc svneol=native#text/plain
libsrc/PDE/newmarkFracDamp.hh svneol=native#text/plain
libsrc/PDE/nodeEQN.cc svneol=native#text/plain
libsrc/PDE/nodeEQN.hh svneol=native#text/plain
libsrc/PDE/pdememento.cc svneol=native#text/plain
libsrc/PDE/pdememento.hh svneol=native#text/plain
libsrc/PDE/pdes_header.hh svneol=native#text/plain
libsrc/PDE/piezoPDE.cc svneol=native#text/plain
libsrc/PDE/piezoPDE.hh svneol=native#text/plain
libsrc/PDE/scalarblockEQN.cc svneol=native#text/plain
libsrc/PDE/scalarblockEQN.hh svneol=native#text/plain
libsrc/PDE/scalarnodeEQN.cc svneol=native#text/plain
libsrc/PDE/scalarnodeEQN.hh svneol=native#text/plain
libsrc/PDE/smoothPDE.cc svneol=native#text/plain
libsrc/PDE/smoothPDE.hh svneol=native#text/plain
libsrc/PDE/superblockEQN.cc svneol=native#text/plain
libsrc/PDE/superblockEQN.hh svneol=native#text/plain
libsrc/PDE/timestepping.cc svneol=native#text/plain
libsrc/PDE/timestepping.hh svneol=native#text/plain
libsrc/PDE/trapezoidal.cc svneol=native#text/plain
libsrc/PDE/trapezoidal.hh svneol=native#text/plain
libsrc/ParamIdent/Makefile -text
libsrc/ParamIdent/newtonCG.cc svneol=native#text/plain
libsrc/ParamIdent/newtonCG1.cc svneol=native#text/plain
libsrc/ParamIdent/newtonLandweber.cc svneol=native#text/plain
libsrc/ParamIdent/nuMethods.cc svneol=native#text/plain
libsrc/ParamIdent/piezoParamIdent.cc svneol=native#text/plain
libsrc/ParamIdent/piezoParamIdent.hh svneol=native#text/plain
libsrc/ParamIdent/piezoParamIdent_methods.cc svneol=native#text/plain
libsrc/ParamIdent/tichonov.cc svneol=native#text/plain
libsrc/Utils/ApproxData.cc svneol=native#text/plain
libsrc/Utils/ApproxData.hh svneol=native#text/plain
libsrc/Utils/Coil.cc svneol=native#text/plain
libsrc/Utils/Coil.hh svneol=native#text/plain
libsrc/Utils/Makefile -text
libsrc/Utils/SmoothSpline.cc svneol=native#text/plain
libsrc/Utils/SmoothSpline.hh svneol=native#text/plain
libsrc/Utils/StdVector.cc svneol=native#text/plain
libsrc/Utils/StdVector.hh svneol=native#text/plain
libsrc/Utils/baseelemstoresol.hh svneol=native#text/plain
libsrc/Utils/basenodestoresol.hh svneol=native#text/plain
libsrc/Utils/cfsvector.hh svneol=native#text/plain
libsrc/Utils/elemstoresol.cc svneol=native#text/plain
libsrc/Utils/elemstoresol.hh svneol=native#text/plain
libsrc/Utils/hysteresis.cc svneol=native#text/plain
libsrc/Utils/hysteresis.hh svneol=native#text/plain
libsrc/Utils/mathfunctions.cc svneol=native#text/plain
libsrc/Utils/mathfunctions.hh svneol=native#text/plain
libsrc/Utils/myclock.cc svneol=native#text/plain
libsrc/Utils/myclock.hh svneol=native#text/plain
libsrc/Utils/nodestoresol.cc svneol=native#text/plain
libsrc/Utils/nodestoresol.hh svneol=native#text/plain
libsrc/Utils/preisach.cc svneol=native#text/plain
libsrc/Utils/preisach.hh svneol=native#text/plain
libsrc/Utils/tools.cc svneol=native#text/plain
libsrc/Utils/tools.hh svneol=native#text/plain
libsrc/Utils/tracing.cc svneol=native#text/plain
libsrc/Utils/tracing.hh svneol=native#text/plain
libsrc/Utils/vector.cc svneol=native#text/plain
libsrc/Utils/vector.hh svneol=native#text/plain
libsrc/makefile.inc -text
libsrc/makefilemach/make.mach.IRIX64 -text
libsrc/makefilemach/make.mach.IRIX64g -text
libsrc/makefilemach/make.mach.LINUX -text
libsrc/makefilemach/make.mach.LINUXPAR -text
libsrc/makefilemach/make.mach.LINUXg -text
libsrc/makefilemach/make.mach.LINUXmpi -text
libsrc/makefilemach/make.mach.MPCCI -text
libsrc/makefilemach/make.mach.MPCCIg -text
libsrc/makefilemach/make.mach.SGI -text
libsrc/makefilemach/make.mach.SGIg -text
libsrc/makefilemach/make.mach.SUN -text
main/DoxygenConfig/doxy-config -text
main/DoxygenConfig/footer.html svneol=native#text/html
main/DoxygenConfig/header.html svneol=native#text/html
main/Makefile -text
main/Makefile.option -text
main/cfs.cc svneol=native#text/plain
main/cfshyst.cc svneol=native#text/plain
main/toDoList.txt svneol=native#text/plain
