* text=auto !eol
Doc/DoxygenConfig/doxygen_manual.pdf -text svneol=unset#application/pdf
/Makefile -text
XML/CFS.xsd -text
XML/Docs/XMLParams.tex svneol=native#text/plain
XML/Schemas/CFS_Analysis.xsd -text
XML/Schemas/CFS_Domain.xsd -text
XML/Schemas/CFS_LinearSystem.xsd -text
XML/Schemas/CFS_Misc.xsd -text
XML/Schemas/CFS_PDEbasic.xsd -text
XML/Schemas/CFS_PDEelectrostatic.xsd -text
XML/Schemas/CFS_PDEmechanic.xsd -text
XML/Schemas/CFS_SolverPrecond.xsd -text
/libgoal -text
libsrc/AlgebraicSystem/LinAlg/Makefile -text
libsrc/AlgebraicSystem/LinAlg/assemble.cc svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/assemble.hh svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/interface_linalg.hh svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/linsystem.cc svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/linsystem.hh svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/systemmatrix.cc svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/systemmatrix.hh svneol=native#text/plain
libsrc/AlgebraicSystem/LinAlg/work.hh svneol=native#text/plain
libsrc/AlgebraicSystem/abstractAlgSys.hh svneol=native#text/plain
libsrc/AlgebraicSystem/interface_piles.hh svneol=native#text/plain
libsrc/CoupledPDE/Makefile -text
libsrc/CoupledPDE/basecoupledpde.cc svneol=native#text/plain
libsrc/CoupledPDE/basecoupledpde.hh svneol=native#text/plain
libsrc/CoupledPDE/coupledPDE.conf -text
libsrc/CoupledPDE/coupled_pdes_header.hh svneol=native#text/plain
libsrc/CoupledPDE/coupledpdedef.cc svneol=native#text/plain
libsrc/CoupledPDE/coupledpdedef.hh svneol=native#text/plain
libsrc/CoupledPDE/itercoupledpde.cc svneol=native#text/plain
libsrc/CoupledPDE/itercoupledpde.hh svneol=native#text/plain
libsrc/CoupledPDE/pdecoupling.cc svneol=native#text/plain
libsrc/CoupledPDE/pdecoupling.hh svneol=native#text/plain
libsrc/DataInOut/AnsysFile/Makefile -text
libsrc/DataInOut/AnsysFile/ansysfile.cc svneol=native#text/plain
libsrc/DataInOut/AnsysFile/ansysfile.hh svneol=native#text/plain
libsrc/DataInOut/AnsysOut/Makefile -text
libsrc/DataInOut/AnsysOut/outAnsys.cc svneol=native#text/plain
libsrc/DataInOut/AnsysOut/outAnsys.hh svneol=native#text/plain
libsrc/DataInOut/DatFile/Makefile -text
libsrc/DataInOut/DatFile/datfile.cc svneol=native#text/plain
libsrc/DataInOut/DatFile/datfile.hh svneol=native#text/plain
libsrc/DataInOut/DefineFiles/Makefile -text
libsrc/DataInOut/DefineFiles/definefiles.cc svneol=native#text/plain
libsrc/DataInOut/DefineFiles/definefiles.hh svneol=native#text/plain
libsrc/DataInOut/GMV/Makefile -text
libsrc/DataInOut/GMV/outGMV.cc svneol=native#text/plain
libsrc/DataInOut/GMV/outGMV.hh svneol=native#text/plain
libsrc/DataInOut/GSI/CFSSocketComm/Makefile.CFS -text
libsrc/DataInOut/GSI/Makefile -text
libsrc/DataInOut/GSI/cvXDR.cc svneol=native#text/plain
libsrc/DataInOut/GSI/cvXDR.h svneol=native#text/plain
libsrc/DataInOut/GSI/outGSI.cc svneol=native#text/plain
libsrc/DataInOut/GSI/outGSI.hh svneol=native#text/plain
libsrc/DataInOut/LoadMaterialData.cc svneol=native#text/plain
libsrc/DataInOut/LoadMaterialData.hh svneol=native#text/plain
libsrc/DataInOut/Makefile -text
libsrc/DataInOut/MaterialData.cc svneol=native#text/plain
libsrc/DataInOut/MaterialData.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/AuldParamHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/AuldParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/BaseParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/ConfFile.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/ConfFile.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/Makefile -text
libsrc/DataInOut/ParamHandling/PlainXMLParamHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/PlainXMLParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/SkeletonConf.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/SkeletonConf.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParamHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParamHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParserErrorHandler.cc svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLParserErrorHandler.hh svneol=native#text/plain
libsrc/DataInOut/ParamHandling/XMLSkeletonConf.cc svneol=native#text/plain
libsrc/DataInOut/SkeletonConf.cc svneol=native#text/plain
libsrc/DataInOut/SkeletonConf.hh svneol=native#text/plain
libsrc/DataInOut/Unverg/Makefile -text
libsrc/DataInOut/Unverg/outUnverg.cc svneol=native#text/plain
libsrc/DataInOut/Unverg/outUnverg.hh svneol=native#text/plain
libsrc/DataInOut/WriteInfo.cc svneol=native#text/plain
libsrc/DataInOut/WriteInfo.hh svneol=native#text/plain
libsrc/DataInOut/XMLSkeletonConf.cc svneol=native#text/plain
libsrc/DataInOut/XMLSkeletonConf.hh svneol=native#text/plain
libsrc/DataInOut/conffile.cc svneol=native#text/plain
libsrc/DataInOut/conffile.hh svneol=native#text/plain
libsrc/DataInOut/filetype.cc svneol=native#text/plain
libsrc/DataInOut/filetype.hh svneol=native#text/plain
libsrc/DataInOut/timefunc.cc svneol=native#text/plain
libsrc/DataInOut/timefunc.hh svneol=native#text/plain
libsrc/DataInOut/writeresults.cc svneol=native#text/plain
libsrc/DataInOut/writeresults.hh svneol=native#text/plain
libsrc/Domain/AdaptGrid/Makefile -text
libsrc/Domain/AdaptGrid/interface_adgrid.cc svneol=native#text/plain
libsrc/Domain/AdaptGrid/interface_adgrid.hh svneol=native#text/plain
libsrc/Domain/GridCFS/Makefile -text
libsrc/Domain/GridCFS/grid_cfs.cc svneol=native#text/plain
libsrc/Domain/GridCFS/grid_cfs.hh svneol=native#text/plain
libsrc/Domain/GridCFS/interface_gridcfs.hh svneol=native#text/plain
libsrc/Domain/Gridlib/Makefile -text
libsrc/Domain/Gridlib/interface_gridlib.cc svneol=native#text/plain
libsrc/Domain/Gridlib/interface_gridlib.hh svneol=native#text/plain
libsrc/Domain/Makefile -text
libsrc/Domain/NetGen/Makefile -text
libsrc/Domain/NetGen/interface_netgen.cc svneol=native#text/plain
libsrc/Domain/NetGen/interface_netgen.hh svneol=native#text/plain
libsrc/Domain/NetGen/nginterface.h svneol=native#text/plain
libsrc/Domain/bcs.cc svneol=native#text/plain
libsrc/Domain/bcs.hh svneol=native#text/plain
libsrc/Domain/domain.cc svneol=native#text/plain
libsrc/Domain/domain.hh svneol=native#text/plain
libsrc/Domain/elem.hh svneol=native#text/plain
libsrc/Domain/grid.cc svneol=native#text/plain
libsrc/Domain/grid.hh svneol=native#text/plain
libsrc/Driver/Makefile -text
libsrc/Driver/assemble.cc svneol=native#text/plain
libsrc/Driver/assemble.hh svneol=native#text/plain
libsrc/Driver/basedriver.cc svneol=native#text/plain
libsrc/Driver/basedriver.hh svneol=native#text/plain
libsrc/Driver/driver_header.hh svneol=native#text/plain
libsrc/Driver/harmonicAdapt.cc svneol=native#text/plain
libsrc/Driver/harmonicAdapt.hh svneol=native#text/plain
libsrc/Driver/harmonicDriver.cc svneol=native#text/plain
libsrc/Driver/harmonicDriver.hh svneol=native#text/plain
libsrc/Driver/staticAdaptSpaceDriver.cc svneol=native#text/plain
libsrc/Driver/staticAdaptSpaceDriver.hh svneol=native#text/plain
libsrc/Driver/staticdriver.cc svneol=native#text/plain
libsrc/Driver/staticdriver.hh svneol=native#text/plain
libsrc/Driver/transientAdaptSpaceDriver.cc svneol=native#text/plain
libsrc/Driver/transientAdaptSpaceDriver.hh svneol=native#text/plain
libsrc/Driver/transientdriver.cc svneol=native#text/plain
libsrc/Driver/transientdriver.hh svneol=native#text/plain
libsrc/Elements/1D/Makefile -text
libsrc/Elements/1D/line1fe.cc svneol=native#text/plain
libsrc/Elements/1D/line1fe.hh svneol=native#text/plain
libsrc/Elements/1D/line2fe.cc svneol=native#text/plain
libsrc/Elements/1D/line2fe.hh svneol=native#text/plain
libsrc/Elements/1D/linefe.cc svneol=native#text/plain
libsrc/Elements/1D/linefe.hh svneol=native#text/plain
libsrc/Elements/2D/Makefile -text
libsrc/Elements/2D/quad1fe.cc svneol=native#text/plain
libsrc/Elements/2D/quad1fe.hh svneol=native#text/plain
libsrc/Elements/2D/quad2fe.cc svneol=native#text/plain
libsrc/Elements/2D/quad2fe.hh svneol=native#text/plain
libsrc/Elements/2D/rectanglefe.cc svneol=native#text/plain
libsrc/Elements/2D/rectanglefe.hh svneol=native#text/plain
libsrc/Elements/2D/triangle1fe.cc svneol=native#text/plain
libsrc/Elements/2D/triangle1fe.hh svneol=native#text/plain
libsrc/Elements/2D/triangle2fe.cc svneol=native#text/plain
libsrc/Elements/2D/triangle2fe.hh svneol=native#text/plain
libsrc/Elements/2D/trianglefe.cc svneol=native#text/plain
libsrc/Elements/2D/trianglefe.hh svneol=native#text/plain
libsrc/Elements/3D/Makefile -text
libsrc/Elements/3D/hexa1FE.cc svneol=native#text/plain
libsrc/Elements/3D/hexa1FE.hh svneol=native#text/plain
libsrc/Elements/3D/hexaFE.cc svneol=native#text/plain
libsrc/Elements/3D/hexaFE.hh svneol=native#text/plain
libsrc/Elements/3D/pyra1FE.cc svneol=native#text/plain
libsrc/Elements/3D/pyra1FE.hh svneol=native#text/plain
libsrc/Elements/3D/pyraFE.cc svneol=native#text/plain
libsrc/Elements/3D/pyraFE.hh svneol=native#text/plain
libsrc/Elements/3D/tetra1FE.cc svneol=native#text/plain
libsrc/Elements/3D/tetra1FE.hh svneol=native#text/plain
libsrc/Elements/3D/tetraFE.cc svneol=native#text/plain
libsrc/Elements/3D/tetraFE.hh svneol=native#text/plain
libsrc/Elements/3D/wedge1FE.cc svneol=native#text/plain
libsrc/Elements/3D/wedge1FE.hh svneol=native#text/plain
libsrc/Elements/3D/wedgeFE.cc svneol=native#text/plain
libsrc/Elements/3D/wedgeFE.hh svneol=native#text/plain
libsrc/Elements/Makefile -text
libsrc/Elements/basefe.cc svneol=native#text/plain
libsrc/Elements/basefe.hh svneol=native#text/plain
libsrc/Elements/elements_header.hh svneol=native#text/plain
libsrc/Elements/jacobian.cc svneol=native#text/plain
libsrc/Elements/jacobian.hh svneol=native#text/plain
libsrc/Estimator/Makefile -text
libsrc/Estimator/spaceerror.cc svneol=native#text/plain
libsrc/Estimator/spaceerror.hh svneol=native#text/plain
libsrc/Forms/Makefile -text
libsrc/Forms/baseForm.cc svneol=native#text/plain
libsrc/Forms/baseForm.hh svneol=native#text/plain
libsrc/Forms/baseoperator.cc svneol=native#text/plain
libsrc/Forms/baseoperator.hh svneol=native#text/plain
libsrc/Forms/bdbInt.cc svneol=native#text/plain
libsrc/Forms/bdbInt.hh svneol=native#text/plain
libsrc/Forms/curlCurlEdgeInt.cc svneol=native#text/plain
libsrc/Forms/curlCurlEdgeInt.hh svneol=native#text/plain
libsrc/Forms/curlCurlNodeInt.cc svneol=native#text/plain
libsrc/Forms/curlCurlNodeInt.hh svneol=native#text/plain
libsrc/Forms/elecfieldop.cc svneol=native#text/plain
libsrc/Forms/elecfieldop.hh svneol=native#text/plain
libsrc/Forms/elecforceop.cc svneol=native#text/plain
libsrc/Forms/elecforceop.hh svneol=native#text/plain
libsrc/Forms/forms_header.hh svneol=native#text/plain
libsrc/Forms/laplaceInt.cc svneol=native#text/plain
libsrc/Forms/laplaceInt.hh svneol=native#text/plain
libsrc/Forms/linElastInt.cc svneol=native#text/plain
libsrc/Forms/linElastInt.hh svneol=native#text/plain
libsrc/Forms/linPiezoInt.cc svneol=native#text/plain
libsrc/Forms/linPiezoInt.hh svneol=native#text/plain
libsrc/Forms/linearForm.cc svneol=native#text/plain
libsrc/Forms/linearForm.hh svneol=native#text/plain
libsrc/Forms/massEdgeInt.cc svneol=native#text/plain
libsrc/Forms/massEdgeInt.hh svneol=native#text/plain
libsrc/Forms/massInt.cc svneol=native#text/plain
libsrc/Forms/massInt.hh svneol=native#text/plain
libsrc/Forms/nLinElastInt.cc svneol=native#text/plain
libsrc/Forms/nLinElastInt.hh svneol=native#text/plain
libsrc/Forms/smoothInt.cc svneol=native#text/plain
libsrc/Forms/smoothInt.hh svneol=native#text/plain
libsrc/General/Makefile -text
libsrc/General/environment.cc svneol=native#text/plain
libsrc/General/environment.hh svneol=native#text/plain
libsrc/Makefile -text
libsrc/Matrix/Makefile -text
libsrc/Matrix/absmatrix.hh svneol=native#text/plain
libsrc/Matrix/bandmatrix.cc svneol=native#text/plain
libsrc/Matrix/bandmatrix.hh svneol=native#text/plain
libsrc/Matrix/matrix.cc svneol=native#text/plain
libsrc/Matrix/matrix.hh svneol=native#text/plain
libsrc/Matrix/matrix_header.hh svneol=native#text/plain
libsrc/Matrix/sparsematrix.cc svneol=native#text/plain
libsrc/Matrix/sparsematrix.hh svneol=native#text/plain
libsrc/Matrix/symmatrix.cc svneol=native#text/plain
libsrc/Matrix/symmatrix.hh svneol=native#text/plain
libsrc/MpCCIcpl/Makefile -text
libsrc/MpCCIcpl/MpCCIexch.cc svneol=native#text/plain
libsrc/MpCCIcpl/MpCCIexch.hh svneol=native#text/plain
libsrc/PDE/BaseEQN.cc svneol=native#text/plain
libsrc/PDE/BaseEQN.hh svneol=native#text/plain
libsrc/PDE/Makefile -text
libsrc/PDE/ScalarNodeEQN.cc svneol=native#text/plain
libsrc/PDE/ScalarNodeEQN.hh svneol=native#text/plain
libsrc/PDE/acouFlowNoise.cc svneol=native#text/plain
libsrc/PDE/acouFlowNoise.hh svneol=native#text/plain
libsrc/PDE/acousticPDE.cc svneol=native#text/plain
libsrc/PDE/acousticPDE.hh svneol=native#text/plain
libsrc/PDE/basepde.cc svneol=native#text/plain
libsrc/PDE/basepde.hh svneol=native#text/plain
libsrc/PDE/elecPDE.cc svneol=native#text/plain
libsrc/PDE/elecPDE.hh svneol=native#text/plain
libsrc/PDE/magEdgePDE.cc svneol=native#text/plain
libsrc/PDE/magEdgePDE.hh svneol=native#text/plain
libsrc/PDE/magneticPDE.cc svneol=native#text/plain
libsrc/PDE/magneticPDE.hh svneol=native#text/plain
libsrc/PDE/mechPDE.cc svneol=native#text/plain
libsrc/PDE/mechPDE.hh svneol=native#text/plain
libsrc/PDE/newAcousticPDE.cc svneol=native#text/plain
libsrc/PDE/newAcousticPDE.hh svneol=native#text/plain
libsrc/PDE/newBasePDE.cc svneol=native#text/plain
libsrc/PDE/newBasePDE.hh svneol=native#text/plain
libsrc/PDE/newElecPDE.cc svneol=native#text/plain
libsrc/PDE/newElecPDE.hh svneol=native#text/plain
libsrc/PDE/newMechPDE.cc svneol=native#text/plain
libsrc/PDE/newMechPDE.hh svneol=native#text/plain
libsrc/PDE/newmark.cc svneol=native#text/plain
libsrc/PDE/newmark.hh svneol=native#text/plain
libsrc/PDE/newmarkdamp.cc svneol=native#text/plain
libsrc/PDE/newmarkdamp.hh svneol=native#text/plain
libsrc/PDE/newsmoothPDE.cc svneol=native#text/plain
libsrc/PDE/newsmoothPDE.hh svneol=native#text/plain
libsrc/PDE/pdes_header.hh svneol=native#text/plain
libsrc/PDE/piezoPDE.cc svneol=native#text/plain
libsrc/PDE/piezoPDE.hh svneol=native#text/plain
libsrc/PDE/smoothPDE.cc svneol=native#text/plain
libsrc/PDE/smoothPDE.hh svneol=native#text/plain
libsrc/PDE/smoothlaplacePDE.cc svneol=native#text/plain
libsrc/PDE/smoothlaplacePDE.hh svneol=native#text/plain
libsrc/PDE/timestepping.cc svneol=native#text/plain
libsrc/PDE/timestepping.hh svneol=native#text/plain
libsrc/PDE/trapezoidal.cc svneol=native#text/plain
libsrc/PDE/trapezoidal.hh svneol=native#text/plain
libsrc/ParamIdent/Makefile -text
libsrc/Utils/Makefile -text
libsrc/Utils/array.cc svneol=native#text/plain
libsrc/Utils/array.hh svneol=native#text/plain
libsrc/Utils/myclock.cc svneol=native#text/plain
libsrc/Utils/myclock.hh svneol=native#text/plain
libsrc/Utils/tools.cc svneol=native#text/plain
libsrc/Utils/tools.hh svneol=native#text/plain
libsrc/Utils/vector.cc svneol=native#text/plain
libsrc/Utils/vector.hh svneol=native#text/plain
libsrc/makefile.inc -text
libsrc/makefilemach/make.mach.IRIX64 -text
libsrc/makefilemach/make.mach.IRIX64g -text
libsrc/makefilemach/make.mach.LINUX -text
libsrc/makefilemach/make.mach.LINUXPAR -text
libsrc/makefilemach/make.mach.LINUXg -text
libsrc/makefilemach/make.mach.SGI -text
libsrc/makefilemach/make.mach.SGIg -text
libsrc/makefilemach/make.mach.SUN -text
main/DoxygenConfig/doxy-config -text
main/DoxygenConfig/footer.html svneol=native#text/html
main/DoxygenConfig/header.html svneol=native#text/html
main/Makefile -text
main/Makefile.option -text
main/cfs.cc svneol=native#text/plain
main/toDoList.txt svneol=native#text/plain
