/.*.swp
cfsdeps/.*.swp
cfsdeps/anaconda3/.*.swp
cfsdeps/ansys_custom/.*.swp
cfsdeps/arpack/.*.swp
cfsdeps/boost/.*.swp
cfsdeps/bzip2/.*.swp
cfsdeps/ccmio/.*.swp
cfsdeps/cfx_custom/.*.swp
cfsdeps/cgal/.*.swp
cfsdeps/cgns/.*.swp
cfsdeps/cmake/.*.swp
cfsdeps/fftw/.*.swp
cfsdeps/flann/.*.swp
cfsdeps/gidpost/.*.swp
cfsdeps/gmp/.*.swp
cfsdeps/hdf5/.*.swp
cfsdeps/ilupack/.*.swp
cfsdeps/ipopt/.*.swp
cfsdeps/lapack/.*.swp
cfsdeps/libxml2/.*.swp
cfsdeps/lis/.*.swp
cfsdeps/lis/cmake/.*.swp
cfsdeps/lis/include/.*.swp
cfsdeps/lis/src/.*.swp
cfsdeps/lis/test/.*.swp
cfsdeps/metis/.*.swp
cfsdeps/mpfr/.*.swp
cfsdeps/muparser/.*.swp
cfsdeps/openblas/.*.swp
cfsdeps/paraview/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/CMake/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/CoProcessing/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/CoProcessing/Adaptors/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/protobuf/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/protobuf/vtkprotobuf/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/protobuf/vtkprotobuf/src/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/protobuf/vtkprotobuf/src/google/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/protobuf/vtkprotobuf/src/google/protobuf/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/ThirdParty/protobuf/vtkprotobuf/src/google/protobuf/compiler/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/ProcessXML/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/avt/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/avt/Pipeline/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/avt/Pipeline/Data/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/common/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/common/state/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/Utilities/VisItBridge/Library/VisItLib/common/utility/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/VTK/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/VTK/Utilities/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/VTK/Utilities/HashSource/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/VTK/Web/.*.swp
cfsdeps/paraview/paraview-srcdir-mingw/VTK/Web/WebGLExporter/.*.swp
cfsdeps/paraview/paraview-srcdir/.*.swp
cfsdeps/paraview/paraview-srcdir/ParaViewCore/.*.swp
cfsdeps/paraview/paraview-srcdir/ParaViewCore/ServerManager/.*.swp
cfsdeps/paraview/paraview-srcdir/ParaViewCore/ServerManager/SMApplication/.*.swp
cfsdeps/paraview/paraview-srcdir/ParaViewCore/ServerManager/SMApplication/Resources/.*.swp
cfsdeps/paraview/paraview-srcdir/ParaViewCore/VTKExtensions/.*.swp
cfsdeps/paraview/paraview-srcdir/ParaViewCore/VTKExtensions/Core/.*.swp
cfsdeps/paraview/paraview-srcdir/Qt/.*.swp
cfsdeps/paraview/paraview-srcdir/Qt/Components/.*.swp
cfsdeps/paraview/paraview-srcdir/Qt/Components/Resources/.*.swp
cfsdeps/paraview/paraview-srcdir/Qt/Components/Resources/XML/.*.swp
cfsdeps/paraview/paraview-srcdir/Utilities/.*.swp
cfsdeps/paraview/paraview-srcdir/Utilities/VisItBridge/.*.swp
cfsdeps/paraview/paraview-srcdir/Utilities/VisItBridge/databases/.*.swp
cfsdeps/paraview/paraview-srcdir/VTK/.*.swp
cfsdeps/paraview/paraview-srcdir/VTK/IO/.*.swp
cfsdeps/paraview/paraview-srcdir/VTK/IO/CFSReader/.*.swp
cfsdeps/paraview/paraview-srcdir/VTK/IO/OFFReader/.*.swp
cfsdeps/paraview/paraview-srcdir/VTK/ThirdParty/.*.swp
cfsdeps/paraview/paraview-srcdir/VTK/ThirdParty/hdf5/.*.swp
cfsdeps/paraview/paraview-superbuild-srcdir/.*.swp
cfsdeps/paraview/paraview-superbuild-srcdir/CMake/.*.swp
cfsdeps/paraview/paraview-superbuild-srcdir/Projects/.*.swp
cfsdeps/paraview/paraview-superbuild-srcdir/Projects/unix/.*.swp
cfsdeps/python/.*.swp
cfsdeps/qt4/.*.swp
cfsdeps/scpip/.*.swp
cfsdeps/sgpp/.*.swp
cfsdeps/snopt/.*.swp
cfsdeps/spacepart/.*.swp
cfsdeps/suitesparse/.*.swp
cfsdeps/superlu/.*.swp
cfsdeps/superlu/CMake/.*.swp
cfsdeps/superlu/example/.*.swp
cfsdeps/superlu/src/.*.swp
cfsdeps/superlu/testing/.*.swp
cfsdeps/superlu/testing/matgen/.*.swp
cfsdeps/vtk/.*.swp
cfsdeps/xerces/.*.swp
cfsdeps/zeromq/.*.swp
cfsdeps/zlib/.*.swp
cmake_modules/.*.swp
ctest_scripts/.*.swp
ctest_scripts/shared/.*.swp
ctest_scripts/sites/.*.swp
ctest_scripts/sites/centos6/.*.swp
ctest_scripts/sites/draco/.*.swp
ctest_scripts/sites/eamc061/.*.swp
ctest_scripts/sites/eamc067/.*.swp
ctest_scripts/sites/eamc080/.*.swp
ctest_scripts/sites/fedora18/.*.swp
ctest_scripts/sites/hardy/.*.swp
ctest_scripts/sites/lmde2013/.*.swp
ctest_scripts/sites/lse34/.*.swp
ctest_scripts/sites/lucid/.*.swp
ctest_scripts/sites/opensuse123/.*.swp
ctest_scripts/sites/oracle5/.*.swp
ctest_scripts/sites/oracle6/.*.swp
ctest_scripts/sites/precise/.*.swp
ctest_scripts/sites/sl7/.*.swp
ctest_scripts/sites/sles10/.*.swp
ctest_scripts/sites/sles11/.*.swp
ctest_scripts/sites/test-sl7/.*.swp
ctest_scripts/sites/test-ubuntu14/.*.swp
ctest_scripts/sites/trusty/.*.swp
ctest_scripts/sites/wiki/.*.swp
ctest_scripts/sites/winxp32/.*.swp
include/.*.swp
share/.*.swp
share/doc/.*.swp
share/doc/auxilliaries/.*.swp
share/doc/auxilliaries/LaTeX/.*.swp
share/doc/auxilliaries/Pics/.*.swp
share/doc/developer/.*.swp
share/doc/developer/DoxygenConfig/.*.swp
share/doc/developer/develManual/.*.swp
share/doc/developer/develManual/html/.*.swp
share/doc/developer/develManual/pics/.*.swp
share/doc/developer/develManual/pics/concepts/.*.swp
share/doc/developer/develManual/pics/elementtypes/.*.swp
share/doc/developer/develManual/pics/persons/.*.swp
share/doc/developer/develManual/sources/.*.swp
share/doc/developer/doxygen/.*.swp
share/doc/developer/doxygen/config/.*.swp
share/doc/developer/doxygen/pages/.*.swp
share/doc/developer/pages/.*.swp
share/doc/tutorial/.*.swp
share/doc/tutorial/ExampleAcoustic/.*.swp
share/doc/tutorial/ExampleMechanics/.*.swp
share/doc/tutorial/ExamplePiezo/.*.swp
share/doc/user/.*.swp
share/doc/user/advPrePostManual/.*.swp
share/doc/user/advPrePostManual/pics/.*.swp
share/doc/user/advPrePostManual/pics/ansys/.*.swp
share/doc/user/advPrePostManual/pics/cdb/.*.swp
share/doc/user/advPrePostManual/pics/cgns/.*.swp
share/doc/user/advPrePostManual/pics/comsol/.*.swp
share/doc/user/advPrePostManual/pics/gmsh/.*.swp
share/doc/user/advPrePostManual/pics/hdf5/.*.swp
share/doc/user/advPrePostManual/pics/pv/.*.swp
share/doc/user/advPrePostManual/pics/unv/.*.swp
share/doc/user/advPrePostManual/sources/.*.swp
share/doc/user/matFile/.*.swp
share/doc/user/xmlFile/.*.swp
share/doc/user/xmlFile/html/.*.swp
share/doc/user/xmlFile/pics/.*.swp
share/fluent/.*.swp
share/matlab/.*.swp
share/matlab/create_densities/.*.swp
share/matlab/create_densities/from_gid_geo/.*.swp
share/matlab/create_densities/from_gid_geo/dns/.*.swp
share/matlab/create_densities/from_gid_geo/geo/.*.swp
share/matlab/create_densities/from_gid_geo/msh/.*.swp
share/matlab/hdf5tools/.*.swp
share/matlab/hdf5tools/private/.*.swp
share/matlab/hdf5tools/test/.*.swp
share/matlab/hdf5tools/test/data/.*.swp
share/matlab/material_catalogue/+Homogenization/.*.swp
share/matlab/material_catalogue/+Homogenization/CFS_Working_Directory/.*.swp
share/matlab/material_catalogue/+Homogenization/Veraltet/.*.swp
share/matlab/material_catalogue/.*.swp
share/matlab/material_catalogue/catalogues/.*.swp
share/matlab/material_catalogue/generate_points/.*.swp
share/matlab/material_catalogue/interpolation2D/.*.swp
share/matlab/material_catalogue/interpolation3D/.*.swp
share/mkmesh/.*.swp
share/python/.*.swp
share/python/material_catalogue/.*.swp
share/python/material_catalogue/interpolation2D/.*.swp
share/python/material_catalogue/interpolation3D/.*.swp
share/python/streamviz/.*.swp
share/python/trelis/.*.swp
share/scripts/.*.swp
share/xml/.*.swp
share/xml/CFS-Dat/.*.swp
share/xml/CFS-Dat/Schemas/.*.swp
share/xml/CFS-Material/.*.swp
share/xml/CFS-Material/Examples/.*.swp
share/xml/CFS-Material/Schemas/.*.swp
share/xml/CFS-Simulation/.*.swp
share/xml/CFS-Simulation/Schemas/.*.swp
share/xml/config/.*.swp
share/xsl/.*.swp
source/.*.swp
source/CoupledPDE/.*.swp
source/DataInOut/.*.swp
source/DataInOut/Logging/.*.swp
source/DataInOut/Logging/detail/.*.swp
source/DataInOut/Logging/extra/.*.swp
source/DataInOut/ParamHandling/.*.swp
source/DataInOut/ScatteredDataInOut/.*.swp
source/DataInOut/SimInOut/.*.swp
source/DataInOut/SimInOut/AnsysCDB/.*.swp
source/DataInOut/SimInOut/AnsysFile/.*.swp
source/DataInOut/SimInOut/AnsysRST/.*.swp
source/DataInOut/SimInOut/AnsysRST/AnsysBinlibIfaceRev100/.*.swp
source/DataInOut/SimInOut/AnsysRST/AnsysBinlibIfaceRev110/.*.swp
source/DataInOut/SimInOut/AnsysRST/AnsysBinlibIfaceRev120/.*.swp
source/DataInOut/SimInOut/AnsysRST/AnsysBinlibIfaceRev121/.*.swp
source/DataInOut/SimInOut/AnsysRST/AnsysBinlibIfaceRev130/.*.swp
source/DataInOut/SimInOut/AnsysRST/AnsysBinlibIfaceRev140/.*.swp
source/DataInOut/SimInOut/CGNS/.*.swp
source/DataInOut/SimInOut/COMSOL/.*.swp
source/DataInOut/SimInOut/EnSight/.*.swp
source/DataInOut/SimInOut/GiD/.*.swp
source/DataInOut/SimInOut/InfoResultOutput/.*.swp
source/DataInOut/SimInOut/RefElems/.*.swp
source/DataInOut/SimInOut/Streaming/.*.swp
source/DataInOut/SimInOut/TextOutput/.*.swp
source/DataInOut/SimInOut/Unverg/.*.swp
source/DataInOut/SimInOut/VTKBased/.*.swp
source/DataInOut/SimInOut/VTKBased/Ensight/.*.swp
source/DataInOut/SimInOut/gmsh/.*.swp
source/DataInOut/SimInOut/gmv/.*.swp
source/DataInOut/SimInOut/hdf5/.*.swp
source/DataInOut/SimInOut/internalMesh/.*.swp
source/DataInOut/SimInOut/xdmf/.*.swp
source/Domain/.*.swp
source/Domain/CoefFunction/.*.swp
source/Domain/CoordinateSystems/.*.swp
source/Domain/ElemMapping/.*.swp
source/Domain/Mesh/.*.swp
source/Domain/Mesh/GridCFS/.*.swp
source/Domain/Mesh/MeshUtils/.*.swp
source/Domain/Mesh/MeshUtils/Intersection/.*.swp
source/Domain/Mesh/MeshUtils/Intersection/IntersectAlgos/.*.swp
source/Domain/Mesh/NcInterfaces/.*.swp
source/Domain/Results/.*.swp
source/Driver/.*.swp
source/Driver/SolveSteps/.*.swp
source/Driver/TimeSchemes/.*.swp
source/FeBasis/.*.swp
source/FeBasis/H1/.*.swp
source/FeBasis/HCurl/.*.swp
source/FeBasis/L2/.*.swp
source/Forms/.*.swp
source/Forms/BiLinForms/.*.swp
source/Forms/LinForms/.*.swp
source/Forms/Operators/.*.swp
source/General/.*.swp
source/MatVec/.*.swp
source/MatVec/exprt/.*.swp
source/Materials/.*.swp
source/Materials/Models/.*.swp
source/ODESolve/.*.swp
source/OLAS/.*.swp
source/OLAS/algsys/.*.swp
source/OLAS/external/.*.swp
source/OLAS/external/arpack/.*.swp
source/OLAS/external/cholmod/.*.swp
source/OLAS/external/ilupack/.*.swp
source/OLAS/external/lapack/.*.swp
source/OLAS/external/lis/.*.swp
source/OLAS/external/pardiso/.*.swp
source/OLAS/external/superlu/.*.swp
source/OLAS/external/umfpack/.*.swp
source/OLAS/graph/.*.swp
source/OLAS/multigrid/.*.swp
source/OLAS/precond/.*.swp
source/OLAS/precond/ILDLPrecond/.*.swp
source/OLAS/solver/.*.swp
source/OLAS/utils/.*.swp
source/OLAS/utils/math/.*.swp
source/Optimization/.*.swp
source/Optimization/Design/.*.swp
source/Optimization/Optimizer/.*.swp
source/PDE/.*.swp
source/PDE/LatticeBoltzmannSolver/.*.swp
source/Utils/.*.swp
source/Utils/EvalIntegrals/.*.swp
source/Utils/mathParser/.*.swp
source/cfsdat/.*.swp
source/cfsdat/Filters/.*.swp
source/cfsdat/Filters/Arithmetic/.*.swp
source/cfsdat/Filters/Derivatives/.*.swp
source/cfsdat/Filters/Input/.*.swp
source/cfsdat/Filters/Interpolators/.*.swp
source/cfsdat/Filters/Output/.*.swp
source/cfsdat/Filters/SignalProcessing/.*.swp
source/cfsdat/Utils/.*.swp
source/cfstool/.*.swp
source/main/.*.swp
