#menu {
	top: 150px;
	left: 0px;
	width: 350px;
}

#settings {
  top: 150px;
  left: 0px;
  width: 350px;
}

#content {
	position: absolute;
  top: 150px;
  max-width: 1000px;
  margin: 0px 0px 0px 350px;
  padding: 15px;
}

/* dont show the iteration number */
#iteration_num {
	display: none;
}