# This is configuration file for making mpeg file from time sequence

xresolution = 400 // width of frames in pixel

yresolution = 320 // heigth of frames in pixel 

attrfile = acoustic.attr // name of attribut file

max_MB = 0.5 // optional parameter which gives the maximum size of the generated movie measured in megabytes. If it is 0, then we use default bitrate of the encoder.

save_snapshot = no // yes, no / Do you want to save a snapshot of display in YUV format
